
/* navbar starts here */

.navbar .flex{
    justify-content: space-between;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 5px;
}
.navbar a:hover{
    border-bottom: 2px solid #f0a500;
}
.navbar a:active{
    color: var(--secondary-color);
}
.navbar{
    background: var(--main-color);
    height: 70px;
}
.logo{
    color: #f0a500;
    font-size: 42px;
}

/* navbar ends here */

/* showcase starts  */

.showcase{
    height: 400px;
    background: var(--main-color);
    color: #fff;
    position: relative;
}
.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0
}
.showcase .grid{
    grid-template-columns: 55% 45%;
    gap: 40px;
    overflow: visible;
}
.showcase-text{
    animation: slideinfromleft 1s ease-in;
    -webkit-animation: slideinfromleft 1s ease-in;
}
.showcase-form{
    position: relative;
    top: 60px;
    height: auto;
    width: 400px;
    padding: 40px;
    animation: slideinfromright 1s ease-in;
    -webkit-animation: slideinfromright 1s ease-in;
}
.showcase-form .form-control{
    margin: 30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
.showcase-form input::placeholder{
    color: rgb(204, 202, 202)
}
.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    bottom: -70px;
    background: #fff;
    right: 0;
    left: 0;
    height: 100px;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
}

/* showcase ends */


/* stats starts */

.stats{
    padding-top: 100px;
    animation: slideinfrombottom 1s ease-in;
    -webkit-animation: slideinfrombottom 1s ease-in;
}
.stats-heading{
    max-width: 550px;
    margin:auto;
    font-weight: 400;
}
.stats .grid h3{
    font-size: 35px;
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/* stats ends */

/* cli starts */

.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* cli ends */

/* cloud */

.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/* lang */
.lang .flex{
    flex-wrap: wrap
}
.lang .card{
    text-align: center;
    margin: 18px 10px 40px;
    animation: one .5s linear;
    -webkit-animation: one .5s linear;
    transition: transform .2s ease-in;
    -webkit-transition: transform .2s ease-in;
    -moz-transition: transform .2s ease-in;
    -ms-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
}
.lang .card:nth-child(2){
    animation-delay: .5s;
}
.lang .card:nth-child(3){
    animation-delay: 1s;
}
.lang .card:nth-child(4){
    animation-delay: 1.5s;
}
.lang .card:nth-child(5){
    animation-delay: 2s;
}
.lang .card:nth-child(6){
    animation-delay: 2.5s;
}
.lang .card:nth-child(7){
    animation-delay: 3s;
}

.lang .card:hover{
    transform: translatey(-15px);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    -o-transform: translatey(-15px);
    cursor: pointer;
}
.lang .card h4{
    font-size: 20px;
    margin-bottom: 5px;
}

/* .lang .flex .card.card1{
    animation: card 1s ease 1;
    -webkit-animation: card 1s ease 1;
} */


/* footer stats  */

.footer .social a{
    margin: 0 10px;
}
/* footer ends */


/* features starts */

.features-head img,
.docs-head img{
    width: 220px;
    justify-self: end;
}
.features-sub-head img{
    width: 300px;
    justify-self: end;
}
.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid{
    padding: 30px;
}
.features-main .grid > *:first-child{
    grid-column: 1/span 3;
}
.features-main .grid > *:nth-child(2){
    grid-column: 1/span 2;
}

/* features ends */
/* docs starts */
.docs-main h3{
    margin: 20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: start;
}

.docs-main nav li{
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.docs-main a:hover{
    font-weight: bolder;
    color: var(--secondary-color);
}
/* docs ends */

/* animation */
@keyframes slideinfromleft {
    0%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
100%{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
@keyframes slideinfromright {
    0%{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
100%{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
@keyframes slideinfromtop {
    0%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}
100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}
@keyframes slideinfrombottom {
    0%{
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}
100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}
@keyframes one{
    0%{
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
}
100%{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}
}